@model EasyProduct.Models.GroupModel


<!-- Modal Edit -->

<div>
    @if (Model != null && Model.Cart != null && Model.Cart.Any())
    {
        @foreach (var cartItem in Model.Cart)
        {
            var product = Model.Products.FirstOrDefault(p => p.Id == cartItem.ProductId);
            if (product != null)
            {
                <div class="modal fade" id="editProductModal_@cartItem.Id" tabindex="-1"
                    aria-labelledby="editProductModalLabel_@cartItem.Id" aria-hidden="true" data-bs-backdrop="static"
                    data-bs-keyboard="false">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editProductModalLabel_@cartItem.Id">Edit @product.Name</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-5">
                                        <img src="@product.ImageURL" alt="@product.Name" class="img-thumbnail img-fluid pic">
                                    </div>
                                    <div class="col">
                                        <p>@product.Description</p>
                                    </div>
                                </div>
                                <form asp-controller="Home" asp-action="Edit" method="post">

                                    <!-- Id -->
                                    <input type="hidden" name="Id" value="@cartItem.Id" />

                                    <!-- ingredient -->
                                    <div class="form-group mt-3">
                                        <label for="editIngredients_@product.Id">Ingredients: </label>
                                        @foreach (var ingredient in product.Ingredients.Split(','))
                                        {
                                            bool isChecked = cartItem.SelectedIngredients?.Split(',').Contains(ingredient.Trim()) ??
                                            false;
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox"
                                                    id="editIngredient_@product.Id-@ingredient" value="@ingredient.Trim()"
                                                    name="SelectedIngredients" checked="@isChecked" />
                                                <label class="form-check-label"
                                                    for="editIngredient_@product.Id-@ingredient">@ingredient.Trim()</label>
                                            </div>
                                        }
                                    </div>

                                    <!-- additionalProduct -->
                                    <div class="form-group mt-3">
                                        <label for="editAdditionalIngredients_@product.Id">Additional Ingredients: </label>
                                        @foreach (var additionalProduct in Model.Products.Where(p => p.Type == 6))
                                        {
                                            bool isAdditionalProductSelected =
                                            cartItem.SelectedAdditionalProductsId?.Split(',').Contains(additionalProduct.Id.ToString())
                                            ?? false;
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input additional-product-checkbox" type="checkbox"
                                                    id="editAdditionalProduct_@product.Id-@additionalProduct.Id"
                                                    value="@additionalProduct.Id" name="SelectedAdditionalProductsId"
                                                    checked="@isAdditionalProductSelected" data-price="@additionalProduct.Price" />
                                                <label class="form-check-label"
                                                    for="editAdditionalProduct_@product.Id-@additionalProduct.Id">@additionalProduct.Name
                                                    - $@additionalProduct.Price</label>
                                            </div>
                                        }
                                    </div>

                                    <!-- Quantity -->
                                    <div class="input-group mt-3 mb-3">
                                        <button class="btn btn-outline-secondary decrease-quantity" type="button"
                                            id="decreaseQuantity"><i class="bi bi-caret-down"></i></button>
                                        <input type="number" class="form-control quantity" id="editQuantity_@product.Id"
                                            name="Quantity" value="@cartItem.Quantity">
                                        <button class="btn btn-outline-secondary increase-quantity" type="button"
                                            id="increaseQuantity"><i class="bi bi-caret-up"></i></button>
                                    </div>
                                    <div class="text-end d-flex justify-content-end">
                                        @if (product.DayPromotion == @ViewBag.CurrentDayOfWeek || product.DayPromotion == 8)
                                        {
                                        <h5>Price: $<span class="total-price" data-price-element
                                                data-price="@product.PromotionPrice">@product.PromotionPrice</span></h5>
                                        }

                                        else

                                        {
                                        <h5>Price: $<span class="total-price" data-price-element
                                                data-price="@product.Price">@product.Price</span></h5>
                                        }
                                        
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>