@model List<PaymentModel>

@{
    ViewData["Title"] = "Staging Screens";
}

<h1>@ViewData["Title"]</h1>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <p class="">
                    Selecionar Visualização: ㅤ
                </p>

                <div class="form-check form-check-inline">
                    <input class="form-check-input chkFilter" type="checkbox" id="chkHamburgers" value="1,9">
                    <label class="form-check-label" for="chkHamburgers">Hamburgers</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input chkFilter" type="checkbox" id="chkBebidas" value="10">
                    <label class="form-check-label" for="chkBebidas">Bebidas</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input chkFilter" type="checkbox" id="chkAcompanhamentos" value="11">
                    <label class="form-check-label" for="chkAcompanhamentos">Acompanhamentos</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input chkFilter" type="checkbox" id="chkSobremesas" value="4">
                    <label class="form-check-label" for="chkSobremesas">Sobremesas</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input chkFilter" type="checkbox" id="chkServidos" value="5">
                    <label class="form-check-label" for="chkServidos">Já Servidos</label>
                </div>
            </ul>
        </div>
    </div>
</nav>

@if (Model != null && Model.Any())
{
    <div id="cardsContainer" class="d-flex flex-wrap justify-content-start">
        @foreach (var product in Model)
        {
            var productType = product.Type;

            // Verificar se o tipo de produto está na lista permitida
            if ((productType == 1 || productType == 9) || // Hamburgers
                (productType == 2 || productType == 10) || // Bebidas
                (productType == 3 || productType == 11))   // Acompanhamentos
            {
                <div class="card m-3 @((product.ConditionKitchen == 5) ? "isConditionKitchen5" : "")" style="width: 18rem;"
                    data-type="@product.Type" data-id="@product.Id" data-conditionkitchen="@product.ConditionKitchen"
                    data-datetime="@product.DateTime.ToString("yyyy-MM-ddTHH:mm:ss")">
                    <div class="card-body">
                        <h6 class="card-title">@product.Id - @product.Name X @product.Quantity</h6>
                        <p class="card-text">@product.IngredientsAndAdditional</p>

                        @if (product.ConditionKitchen == 5)
                        {
                            <h5>Tempo: <span>@product.PreparationTime.ToString(@"hh\:mm\:ss")</span></h5>
                        }
                        else
                        {
                            var timeDifference = DateTime.Now - product.DateTime;
                            <h5>Tempo: <span id="timeSpan">@timeDifference.ToString(@"hh\:mm\:ss")</span></h5>
                        }
                    </div>
                </div>
            }
        }
    </div>
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/ScreensIndex.js"></script>
