@model List<ProductsModel>

@{
    ViewData["Title"] = "Index Client";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">

<!--Button offCanvas-->
<div class="d-flex justify-content-end">
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"
        aria-controls="staticBackdrop">
        shopping cart
    </button>
</div>

<div>
    @functions {
        Dictionary<int, string> productTypeNames = new Dictionary<int, string>()
    {{ 1, "hamburgers" },{ 2, "Drinks" },{ 3, "accompaniments" },{ 4, "dessert" },{ 5, "Toys" },{ 9,"Others" }};

        string GetProductTypeTitle(int productType)
        {
            if (productTypeNames.ContainsKey(productType))
            {
                return productTypeNames[productType];
            }

            return string.Empty;
        }
    }

    <section class="mb-5">
        @if (Model != null && Model.Any())
        {
            var groupedProducts = Model.GroupBy(p => p.Type);
            foreach (var group in groupedProducts)
            {
                string productTypeTitle = GetProductTypeTitle(group.Key);

                if (!string.IsNullOrEmpty(productTypeTitle))
                {
                    <div class="mb-5">
                        <h4>@productTypeTitle</h4>
                        <div class="row row-cols-1 row-cols-md-5 g-4">
                            @foreach (var product in group)
                            {
                                <div class="col">
                                    <div class="card" data-bs-toggle="modal" data-bs-target="#productModal_@product.Id">
                                        <img src="@product.ImageURL" class="card-img" alt="...">
                                        <h6 class="card-title">@product.Name</h6>
                                        <p class="card-text">$@product.Price</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            }


            @foreach (var product in Model)
            {
                <div class="modal fade" id="productModal_@product.Id" tabindex="-1"
                    aria-labelledby="productModalLabel_@product.Id" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h5 class="modal-title" id="productModalLabel_@product.Id">@product.Name</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">

                                <div class="row">

                                    <!-- Image -->
                                    <div class="mb-3 col-lg-5">
                                        <img src="@product.ImageURL" alt="" class="img-thumbnail img-fluid">
                                    </div>

                                    <!-- Descrição -->
                                    <div class="mb-3 col">
                                        <p>@product.Description</p>
                                    </div>


                                </div>
                                <form action="">

                                    <!-- Ingredientes -->
                                    <div class="m-3">
                                        <p>Ingredients:</p>
                                        @foreach (var ingredient in product.Ingredients.Split(','))
                                        {
                                            <div class="form-check form-check-inline">

                                                <input class="form-check-input" type="checkbox" id="ingredient_@ingredient.Trim()"
                                                    value="@ingredient.Trim()" checked>

                                                <label class="form-check-label"
                                                    for="ingredient_@ingredient.Trim()">@ingredient.Trim()</label>
                                            </div>

                                        }

                                        <!-- Produtos adicionais -->
                                        <div class="mt-3">
                                            <p>Additional Products:</p>
                                            @foreach (var additionalProduct in Model.Where(p => p.Type == 6))
                                            {
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input additional-product-checkbox" type="checkbox"
                                                        id="additionalProduct_@additionalProduct.Id" value="@additionalProduct.Id"
                                                        data-price="@additionalProduct.Price">
                                                    <label class="form-check-label"
                                                        for="additionalProduct_@additionalProduct.Id">@additionalProduct.Name</label>
                                                </div>
                                            }
                                        </div>

                                        <!-- Quantidade -->
                                        <div class="input-group mb-3">
                                            <button class="btn btn-outline-secondary decrease-quantity" type="button"
                                                id="decreaseQuantity">-</button>
                                            <input type="text" class="form-control quantity" id="quantity" value="1">
                                            <button class="btn btn-outline-secondary increase-quantity" type="button"
                                                id="increaseQuantity">+</button>
                                        </div>


                                    </div>

                                    <!-- Preço -->
                                    <div class="d-flex justify-content-end">
                                        <h5 class="text-end">Price: $<span class="total-price" data-price-element data-price="@product.Price">@product.Price</span></h5>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="button" class="btn btn-primary">Add to cart</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </section>
</div>


<!--OffCanvas-->
<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
    aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="staticBackdropLabel">Offcanvas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            I will not close if you click outside of me.
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="/js/ShoppingCart.js"></script>