@model EasyProduct.Models.GroupModel
@{
    ViewData["Title"] = "Home";
}

@await Html.PartialAsync("Modals/Product")
@await Html.PartialAsync("OffCanvas/Cart")


@functions {
    Dictionary<int, string> productTypeNames = new Dictionary<int, string>()
    {
        { 1, "Hamburgers" },
        { 9, "Hamburgers Combo" },
        { 2, "Drinks" },
        { 10, "Drinks Combo" },
        { 3, "Accompaniments" },
        { 11, "Accompaniments Combo" },
        { 4, "Dessert" },
        { 5, "Toys" },
        { 6, "Additional Hamburgers" },
        { 7, "Additional Dessert" },
        { 8, "Additional Follow-up" },
        { 12, "Others" }
    };

    string GetProductTypeTitle(int productType)
    {
        if (productTypeNames.ContainsKey(productType))
        {
            return productTypeNames[productType];
        }
        return string.Empty;
    }
}

<!-- Button offCanvas -->
<div class="d-flex justify-content-end">
    <button class="btn btn-danger" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"
            aria-controls="staticBackdrop">
        <i class="bi bi-cart"></i>
    </button>
</div>

<!-- Products List -->
<section class="mb-5">
    @if (Model != null && Model.Products.Any())
    {
        var groupedPairs = new List<List<int>>
        {
            new List<int> { 1, 9 },
            new List<int> { 2, 10 },
            new List<int> { 3, 11 },
            new List<int> { 4, 0 },
            new List<int> { 5, 0 },
            new List<int> { 12, 0 },
        };

        foreach (var pair in groupedPairs)
        {
            var productsInPair = Model.Products.Where(p => pair.Contains(p.Type)).ToList();

            if (productsInPair.Any())
            {
                var productTypeTitle = GetProductTypeTitle(pair[0]);

                <div class="mb-5">
                    <h4>@productTypeTitle</h4>
                    <div class="row row-cols-1 row-cols-md-5 g-4">
                        @foreach (var product in productsInPair)
                        {
                            <div class="col">
                                <div class="card" data-bs-toggle="modal" data-bs-target="#productModal_@product.Id">
                                    @if (product.DayPromotion == @ViewBag.CurrentDayOfWeek || product.DayPromotion == 8)
                                    {
                                        <div class="badge">Promotion</div>
                                    }
                                    <div class="card-img-container">
                                        <img src="@product.ImageURL" class="card-img" alt="...">
                                    </div>
                                    <div class="product-details">
                                        <h6 class="card-title text">@product.Name</h6>
                                        <div class="product-bottom-details">
                                            @if (product.DayPromotion == @ViewBag.CurrentDayOfWeek || product.DayPromotion == 8)
                                            {
                                                <div class="product-price"><small>$@product.Price</small>$@product.PromotionPrice</div>
                                            }
                                            else
                                            {
                                                <div class="product-price">$@product.Price</div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        }
    }
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/HomeIndex.js"></script>
