@model List<ProductsModel>

@{
    ViewData["Title"] = "Index Manager";
}

<div>
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary m-1" asp-controller="Manager" asp-action="Add" role="button">Add Product</a>
        <a class="btn btn-danger m-1" asp-controller="Home" asp-action="Index" role="button">Sair</a>
    </div>

    @functions {
        Dictionary<int, string> productTypeNames = new Dictionary<int, string>()
        {
        { 1, "hamburgers" },
        { 9, "Hamburgers Combo" },
        { 2, "Drinks" },
        { 10, "Drinks Combo" },
        { 3, "Accompaniments" },
        { 11, "Accompaniments Combo" },
        { 4, "Dessert" },
        { 5, "Toys" },
        { 6, "Additional Hamburgers" },
        { 7, "Additional Dessert" },
        { 8, "Additional Follow-up" },
        { 12, "Others" }
    };

        string GetProductTypeTitle(int productType)
        {
            if (productTypeNames.ContainsKey(productType))
            {
                return productTypeNames[productType];
            }

            return string.Empty;
        }
    }

    <section class="mb-5">
        @if (Model != null && Model.Any())
        {
            var groupedProducts = Model.GroupBy(p => p.Type);
            foreach (var group in groupedProducts)
            {
                string productTypeTitle = GetProductTypeTitle(group.Key);

                if (!string.IsNullOrEmpty(productTypeTitle))
                {
                    <div class="mb-5">
                        <h5>@productTypeTitle</h5>
                        <div class="row row-cols-1 row-cols-md-5 g-4">
                            @foreach (var product in group)
                            {
                                <div class="col">
                                    <div class="card">
                                        <img src="@product.ImageURL" class="card-img" alt="...">
                                        <h6 class="card-title">@product.Name</h6>
                                        <p class="card-text">$@product.Price</p>

                                        <div class="row m-1">
                                            <a class="btn btn-warning btn-sm col m-1 custom-link" role="button"
                                                asp-route-id="@product.Id" asp-controller="Manager" asp-action="Edit">Edit</a>

                                            <button type="button" class="btn btn-danger btn-sm col m-1" data-bs-toggle="modal"
                                                data-bs-target="#deleteModal_@product.Id"
                                                data-product-name="@product.Name">Remove</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            }

            foreach (var product in Model)
            {
                <div class="modal fade" id="deleteModal_@product.Id" tabindex="-1" aria-labelledby="deleteModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deleteModalLabel">⚠️ Remove @product.Name</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                🚧 This action cannot be reversed once done. 🚧
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                                <a role="button" class="btn btn-danger" asp-action="DeleteProduct" asp-route-id="@product.Id"
                                    asp-controller="Manager">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </section>
</div>
